:root{
    --text_white: #ffffff;
    --text_black: #000000;
    --aktiv: #1ab2b1;
    --tabs_background:#313a3be3;
    --tabs_background_aktiv:#ffffff;
    --button_background: #1ab2b1;
    --platzhalter_text: #a5a39d;
}
